<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	<beans:bean id="appUserDetailsService"
		class="pe.joedayz.joefact.security.AppUserDetailsService" />

	<beans:bean id="exceptionTranslationFilter"
		class="org.springframework.security.web.access.ExceptionTranslationFilter">
		<beans:property name="accessDeniedHandler" ref="jsfAccessDeniedHandler" />
		<beans:property name="authenticationEntryPoint" ref="authenticationEntryPoint" />
	</beans:bean>

	<beans:bean id="jsfAccessDeniedHandler"
		class="pe.joedayz.joefact.security.util.JsfAccessDeniedHandler">
		<beans:property name="loginPath"
			value="/ConsultaFacturacionElectronica/excepciones/accesoDenegado.xhtml" />
		<beans:property name="contextRelative" value="true" />
	</beans:bean>

	<beans:bean id="authenticationEntryPoint"
		class="pe.joedayz.joefact.security.util.JsfLoginUrlAuthenticationEntryPoint">
		<beans:property name="loginFormUrl" value="/login.xhtml" />
		<beans:property name="redirectStrategy" ref="jsfRedirectStrategy" />
	</beans:bean>

	<beans:bean id="jsfRedirectStrategy"
		class="pe.joedayz.joefact.security.util.JsfRedirectStrategy" />


	<http pattern="/login.xhtml" security="none" />
	<http pattern="/RecuperarPassword.xhtml" security="none" />
	<http pattern="/CambiarPassword.xhtml" security="none" />
	<http pattern="/excepciones/error.xhtml" security="none" />
	<http pattern="/javax.faces.resource/**" security="none" />



	<http auto-config="false" use-expressions="true">

		<custom-filter ref="exceptionTranslationFilter" before="FILTER_SECURITY_INTERCEPTOR" />

		<intercept-url pattern="/inicio.xhtml" access="isAuthenticated()" />
		<intercept-url pattern="/excepciones/accesoDenegado.xhtml"
			access="isAuthenticated()" />
		<intercept-url pattern="/usuario/**" access="hasAnyRole('ADMINISTRADORES')" />
		<intercept-url pattern="/**"
			access="hasAnyRole('USUARIOS','ADMINISTRADORES')" />

		<form-login login-page="/login.xhtml"
			authentication-failure-url="/login.xhtml?invalid=true"
			default-target-url="/" always-use-default-target="true"
			authentication-details-source-ref="customWebAuthenticationDetailsSource" />

		<logout logout-url="/j_spring_security_logout"
			invalidate-session="true" />
	</http>



	<beans:bean id="customWebAuthenticationDetailsSource"
		class="pe.joedayz.joefact.security.CustomWebAuthenticationDetailsSource" />

	<authentication-manager>
		<authentication-provider user-service-ref="appUserDetailsService">
		</authentication-provider>
	</authentication-manager>



</beans:beans>